html, body, div, label, h1 {
  height: inherit;
  width: inherit;
  padding: 0;
  margin: 0;
}

/* for mobile viewport later */
/* height: calc(var(--vh, 1vh) * 100);*/
.soundboard {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.synth {
  display: flex;
  flex-wrap: wrap;
  height: 442px;
  width: 1636px;
}

